In [1]:
import pandas as pd

In [43]:
interactions = pd.read_csv('./RAW_interactions.csv', nrows=100)

In [36]:
interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [44]:
interactions.dtypes

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object