In [1]:
import pandas as pd

In [120]:
interactions = pd.read_csv('./data/RAW_interactions.csv', parse_dates=[2])
users = pd.read_csv('./data/PP_users.csv', index_col='u')
recipes = pd.read_csv('./data/RAW_recipes.csv', parse_dates=[4], index_col='id')

In [53]:
interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [54]:
interactions.dtypes

user_id               int64
recipe_id             int64
date         datetime64[ns]
rating                int64
review               object
dtype: object

In [55]:
users.dtypes

u              int64
techniques    object
items         object
n_items        int64
ratings       object
n_ratings      int64
dtype: object

In [57]:
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
tags                      object
nutrition                 object
n_steps                    int64
steps                     object
description               object
ingredients               object
n_ingredients              int64
dtype: object

In [142]:
recipes.head()

,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
id,,,,,,,,,,,
137739,arriba baked winter squash mexican style,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
31490,a bit different breakfast pizza,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
112140,all in the kitchen chili,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
59389,alouette potatoes,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
44061,amish tomato ketchup for canning,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [87]:
users.head()

,techniques,items,n_items,ratings,n_ratings
u,,,,,
0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376

In [124]:
recipes.loc[[27680]]

,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
id,,,,,,,,,,,
27680,lime tea,15,37779,2002-05-08,"['15-minutes-or-less', 'time-to-make', 'course...","[414.7, 0.0, 414.0, 0.0, 0.0, 0.0, 35.0]",7,"['pour 5 cups boiling water over tea bags', 'c...",love this so much. great summertime drink. add...,"['boiling water', 'tea bags', 'sugar', 'frozen...",4

In [125]:
interactions.loc[interactions.recipe_id ==27680]

,user_id,recipe_id,date,rating,review
868777,39277,27680,2002-05-14,5,We are crazy for lime. I made this for dinner ...
868778,38643,27680,2002-05-18,5,What a wonderful recipe. Made this tonight wit...
868779,39733,27680,2002-05-23,5,Served this with supper 2 nights in a row. We ...
868780,43005,27680,2002-06-08,5,I made this without the sugar and using decaf ...
868781,38810,27680,2002-06-12,5,Add me to the growing list of Lime Tea fans. N...
868782,27643,27680,2002-06-17,5,"What a wonderful, comforting drink! I made it ..."
868783,47230,27680,2002-07-10,5,I have made this several times this summer. Th...
868784,47847,27680,2002-07-25,4,Very nice and refreshing. I doubled the reci...
868785,49360,27680,2002-08-06,5,Outstanding. Perfect blend of citrus/tea flavo...
868786,72112,27680,2003-05-27,5,We drink iced tea by the gallons. This was a n...
868787,72963,27680,2003-06-12,5,"I'll confess, I am addicted to this tea. I thi..."
868788,65059,27680,2003-06-14,5,"This is great and will be our summer drink, so..."
868789,68942,27680,2003-06-19,0,Very refreshing and snappy flavored tea. Based...
868790,6550,27680,2003-06-24,5,Excellent! Made my own modifications for the ...
868791,27707,27680,2003-07-12,5,Not that this needs yet another rave review bu...
868792,56392,27680,2004-01-11,4,Very nice and refreshing. My family actually p...
868793,64683,27680,2005-06-21,4,I wasn't too crazy about this but our guests l...
868794,128473,27680,2009-02-15,5,This was a great tea. I enjoyed it very much. ...
868795,455641,27680,2010-01-17,5,Loved this tea! So yummy and refreshing. The l...
868814,56003,27680,2010-01-28,5,MMMmm Gooood! I went a little different direc...

In [228]:
users.loc[[0]]

,techniques,items,n_items,ratings,n_ratings
u,,,,,
0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31

In [250]:
recipe = recipes.iloc[23222]
tags_list = [x[1:-1] for x in recipe.tags[1:-1].split(', ')]
tags_list

['time-to-make',
 'course',
 'preparation',
 'for-1-or-2',
 'breads',
 'dietary',
 'number-of-servings',
 '4-hours-or-less']